<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="static/estilo.css">
  <title>Blog</title>
</head>

<body>
  <div class="conteudo_principal">
    <h1>Blog Ocean</h1>
    <div class="nav">
      {%if not session.logado%}
      <a href="/login">Login</a>
      {%else%}
      <a href="/logout">Logout</a>
      {%endif%}
    </div>
    {% for mensagem in get_flashed_messages() %}
    <div class="flash">{{mensagem}}</div>
    {% endfor %}
    {% block corpo %} {% endblock %}
  </div>
</body>

</html>